# Entornos virtuales
venv/
.venv/
env/
ENV/

# Python cache y compilados
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Configuración del IDE y OS
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Sesiones de Flask y bases de datos locales
*.db
*.sqlite
flask_session/
